*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(melhorcasal.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)
}

h1{
    font-size: 3em;
    color: #f0f0f0;
    text-shadow: 0 2px 5px #131313;
}

button{
    background-color: #726ace;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 3px 16px;
    border-radius: 25px;
    color: #ffffff;
    transition: .3s all ease;
}

button:hover{
    background-color: #8B80F9;
    transform: translateY(-3px);
}

button:focus{
    outline: none;
}

@media (max-width: 600px) {
    .conteudo{
        margin: 0 50px;
    }

    h1{
        font-size: 1.5em;
    }

    button{
        padding: 5px 15px;
        margin: 15px 8px 0px;
    }
}